@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
a:hover {
    text-decoration: underline;
}
.markdown h1 {
    @apply text-sky-600 text-3xl py-2;
}

.markdown h2 {
    @apply text-sky-600 text-2xl py-2;
}

.markdown br {
    @apply py-2;
}

.markdown strong {
    @apply font-bold;
}

.markdown ul {
    @apply list-disc px-5;
}

.markdown ol {
    @apply list-decimal px-5;
}

.markdown a {
    @apply hover:text-green-800 font-medium ;

}

.markdown p {
    @apply py-1;
}

.markdown img {
    @apply rounded-md
}